<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movie List - Video Rental System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Available Movies</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Release Year</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.genre}"></td>
            <td th:text="${movie.releaseYear}"></td>
            <td>
                <a th:href="@{/movies/{id}(id=${movie.id})}" class="btn btn-info btn-sm">Details</a>
                <a th:href="@{/orders/place(movieId=${movie.id})}" class="btn btn-success btn-sm">Rent</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>